{{#each articles}}
<article id={{id}}>
    <header>
        <h1>{{title}}</h1>
    </header>
    <section>
        <div>{{content}}</div>
    </section>
    <footer>
        <h4>
            Posted by {{user.username}} on {{posted}}
        </h4>
    </footer>
    <details>
        <summary>
            Comments
        </summary>
        {{#if comments}}
        {{#each comments}}
        <section>
            <div>
                {{comment}}
            </div>
            <div>
                Posted on {{posted}} by {{user.username}}
            </div>
        </section>
        {{/each}}
        {{/if}}
    </details>
</article>
{{/each}}